@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?su1e49');
  src:  url('fonts/icomoon.eot?su1e49#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?su1e49') format('truetype'),
    url('fonts/icomoon.woff?su1e49') format('woff'),
    url('fonts/icomoon.svg?su1e49#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-solid:before {
  content: "\e900";
}
.icon-star:before {
  content: "\e901";
}
.icon-diamond:before {
  content: "\e902";
}
.icon-music:before {
  content: "\e903";
}
.icon-error:before {
  content: "\e904";
}
